<template>
  <div>
    <Breadcrumb
      :active="title"
    />
    <section class="content pb-5">
      <Page slug="noticias" :breadcrumb="false" />
      <b-container class="py-4">
        <tags :to="$route.path" />
        <b-row>
          <b-col lg="3">
            <div class="filters">
              <div class="search mb-4">
                <b-input-group>
                  <b-form-input v-model="filters.search" type="search" placeholder="O que você busca?" @keyup.prevent.enter="list" />
                  <b-input-group-append>
                    <b-button variant="outline-primary" @click="list"><b-icon-search /></b-button>
                  </b-input-group-append>
                </b-input-group>
              </div>
            </div>
          </b-col>
          <b-col lg="9">
            <div>
              <b-row>
                <b-col md="12">
                  <Found v-if="posts" :total="posts.length" />
                </b-col>
              </b-row>
            </div>
            <div v-if="posts">
              <div class="posts-component pt-4">
                <b-row>
                  <Post v-for="post in posts" :key="post._id" :post="post" />
                </b-row>
              </div>
            </div>
          </b-col>
        </b-row>
      </b-container>
    </section>
  </div>
</template>

<script>
import sorts from '@/data/sorts.json'
import features from '@/data/features'
export default {
  data () {
    return {
      sorts,
      filters: {
        tag: this.$route.query.tag,
        search: '',
        sort: 'most_recent'
      },
      posts: null,
      tags: []
    }
  },
  computed: {
    settings() {
      return this.$store.state.settings
    },
    title() {
      if (this.settings && this.settings.features && this.settings.features.posts && this.settings.features.posts.title) {
        return this.settings.features.posts.title
      }
      return features.posts.title
    }
  },
  async created() {
    this.posts = await this.$axios.$get('/api/posts', { params: this.$route.query })
  },
  methods: {
    async list() {
      this.posts = null
      this.posts = await this.$axios.$get('/api/posts', { params: this.filters })
    },
    clearFilters() {
      this.filters = {
        search: '',
        tags: []
      }
      location.href = '/'
    }
  }
}
</script>
