<template>
  <div class="contacts">
    <b-breadcrumb :items="breadcrumb" />
    <div>
      <div v-if="contacts">
        <b-button-group class="mb-2">
          <b-button variant="outline-primary" @click="selectAllRows">
            <b-icon icon="inboxes-fill" /> Todos
          </b-button>
          <b-button variant="outline-primary" @click="clearSelected">
            <b-icon icon="inboxes" /> Limpar
          </b-button>
          <b-button :disabled="selected.length == 0" variant="outline-primary" @click="deleteRows">
            <b-icon icon="trash-fill" /> Excluir
          </b-button>
          <b-button :disabled="selected.length == 0" variant="outline-primary" @click="readRows">
            <b-icon icon="check" /> Lido
          </b-button>
        </b-button-group>
        <b-table
          v-if="contacts.length"
          :fields="table"
          :items="contacts"
          responsive="sm"
          :select-mode="selectMode"
          ref="selectableTable"
          selectable
          @row-selected="onRowSelected"
        >
          <template #cell(selected)="{ rowSelected }">
            <template v-if="rowSelected">
              <b-iconstack>
                <b-icon icon="square" />
                <b-icon icon="check" />
              </b-iconstack>
            </template>
            <template v-else>
              <b-icon icon="square" />
            </template>
          </template>
          <template v-slot:cell(actions)="data">
            <b :class="'btn btn-sm ' + (data.item.read ? 'btn-light' : 'btn-success')" @click="setRead(data.item)">
              <b-icon icon="caret-right-square-fill" v-if="data.detailsShowing" />
              <b-icon icon="caret-down-square-fill" v-if="!data.detailsShowing" />
            </b>
          </template>
          <template #row-details="data">
            <div class="pb-3">
              <b>{{ data.item.message }}</b>
            </div>
          </template>
          <template v-slot:cell(createdAt)="data">
            {{ $moment(data.value).format("DD/MM/YYYY HH:mm") }}
          </template>
        </b-table>
        <b-alert v-else show variant="dark" class="text-center">Nenhum item encontrado</b-alert>
      </div>
      <div v-else class="text-center">
        <b-spinner small label="Carregando..." />
      </div>
    </div>
  </div>
</template>

<script>

export default {
  layout: 'conta',

  data () {
    return {
      contacts: null,
      selectMode: 'multi',
      selected: [],
      modes: ['multi', 'single', 'range'],
      breadcrumb: [
        { text: 'Painel', to: '/conta' },
        { text: 'Contatos', active: true }
      ],
      table: [
        { key: 'selected', label: 'Selecionado' },
        { key: 'name', label: 'Nome' },
        { key: 'email', label: 'Email' },
        { key: 'createdAt', label: 'Enviada em' },
        { key: 'actions', label: '', class: 'text-right' }
      ]
    }
  },
  methods: {
    async list () {
      this.contacts = await this.$axios.$get('/api/contacts')
    },
    async setRead(row) {
      if (row._showDetails) {
        this.$set(row, '_showDetails', false)
      } else {
        this.$set(row, '_showDetails', true)
        if (!row.read) {
          this.contact = await this.$axios.$get('/api/contacts/' + row._id)
          this.$set(row, 'read', true)
        }
      }
    },
    deleteRows(row) {
      this.$bvModal.msgBoxConfirm('Tem certeza que deseja excluír esta(s) mensagem(s)?').then(async confirmed => {
        if (confirmed) {
          await this.$axios.post('/api/contacts/delete', this.selected).then(() => {
            this.$toast.success('Mensagem(s) removida(s) com sucesso!')
            this.list()
          })
        }
      })
    },
    readRows(row) {
      this.$bvModal.msgBoxConfirm('Tem certeza que deseja marcar como lida esta(s) mensagem(s)?').then(async confirmed => {
        if (confirmed) {
          await this.$axios.post('/api/contacts/read', this.selected).then(() => {
            this.$toast.success('Mensagem(s) marcada(s) como lida(s) com sucesso!')
            this.list()
          })
        }
      })
    },
    onRowSelected(items) {
      this.selected = items
    },
    selectAllRows() {
      this.$refs.selectableTable.selectAllRows()
    },
    clearSelected() {
      this.$refs.selectableTable.clearSelected()
    }
  },
  created () {
    this.list()
  }
}
</script>
