<template>
  <div v-if="page">
    <Breadcrumb
      v-if="page && breadcrumb"
      :active="page.title"
      :description="page.description"
    />
    <div class="page">
      <dl-layout v-model="sections" :can-edit="canEdit" :start-editing="!!$route.query.edit" @save="save" />
    </div>
    <b-container>
      <Documents :documents="page.docs" />
    </b-container>
  </div>
</template>
<script>
import DlLayout from './vue-dynamic-layout/Layout.vue'
export default {
  components: {
    DlLayout
  },
  props: {
    slug: {
      type: String,
      default: null
    },
    showContent: {
      type: Boolean,
      default: false
    },
    breadcrumb: {
      type: Boolean,
      default: true
    }
  },
  data () {
    return {
      page: null,
      showMore: false,
      sections: []
    }
  },
  computed: {
    canEdit() {
      return (
        this.$auth.user &&
        (this.$auth.user.role === 'admin' || this.$auth.user.role === 'super')
      )
    }
  },
  async created() {
    this.page = await this.$axios.$get('/api/pages/' + this.slug)
    if (this.page) {
      this.sections = this.page.sections
    } else {
      this.$emit('notFound')
    }
  },
  methods: {
    save() {
      this.$axios.$put('/api/pages/' + this.page._id, { sections: this.sections })
    }
  }
}
</script>
