<template>
  <b-col :key="post._id" md="4" class="d-flex align-items-center mt-4">
    <b-card :img-src="post.image ? fileURL(post.image.thumb || post.image.url) : null" :img-alt="post.title">
      <b-card-text>
        <h5 class="mb-0">
          <b-link :to="'/noticias/' + post.slug" class="stretched-link">{{ post.title }}</b-link>
        </h5>
        <p v-if="post.description" class="mt-2 mb-0">{{ post.description | truncate(60) }}</p>
      </b-card-text>
    </b-card>
  </b-col>
</template>

<script>
export default {
  props: {
    post: {
      type: Object,
      default: () => null
    }
  },
  computed: {
    filesURL() {
      return process.env.FILES_URL || ''
    }
  },
  methods: {
    fileURL(url) {
      if (url) {
        return url.startsWith('http') ? url : (this.filesURL || '') + url
      }
    }
  }
}
</script>
