<template>
  <div v-if="product" class="card text-primary" :class="product.qtd == 0 ? 'bg-light' : ''">
    <router-link v-if="product.images && product.images.length" :to="'/loja/'+product._id" class="card-img">
      <b-img :src="fileURL(product.images[0].thumb || product.images[0].url)" width="100" alt="placeholder" class="card-img-top" />
    </router-link>
    <div class="card-body">
      <router-link :to="'/loja/' + product._id">
        <strong class="card-title text-primary">{{ product.name }}</strong>
        <p><small v-html="product.description " /></p>
      </router-link>
    </div>
    <div class="card-footer">
      <AddToCart :product="product" />
    </div>
  </div>
</template>
<script>
export default {
  props: {
    product: {
      type: Object,
      default: () => null
    }
  },
  computed: {
    filesURL() {
      return process.env.FILES_URL || ''
    }
  },
  methods: {
    fileURL(url) {
      if (url) {
        return url.startsWith('http') ? url : (this.filesURL || '') + url
      }
    }
  }
}
</script>
