<template>
  <span />
</template>

<script>
export default {
  props: {
    font: {
      type: String,
      default: null
    },
    target: {
      type: String,
      default: null
    }
  },
  computed: {
    settings() {
      return this.$store.state.settings
    },
    defaultFont() {
      return this.settings ? this.settings.font : 'Montserrat'
    }
  },
  watch: {
    font() {
      this.applyFont()
    }
  },
  mounted() {
    this.applyFont()
  },
  methods: {
    fetchFonts() {
      const apiUrl = 'https://www.googleapis.com/webfonts/v1/webfonts?key=AIzaSyB46g1l0J90-Um3iqwcRvaf9V-onHKEE7Q'
      fetch(apiUrl)
        .then(response => response.json())
        .then(data => {
          this.fonts = data.items
        })
    },
    applyFont() {
      const selectedFont = this.font || this.defaultFont

      if (selectedFont !== 'Montserrat' && this.target) {
        const selectedFontLink = `https://fonts.googleapis.com/css2?family=${encodeURIComponent(selectedFont)}&display=swap`
        const style = document.createElement('style')
        style.innerHTML = `@import url('${selectedFontLink}'); ${this.target} { font-family: '${selectedFont}', sans-serif; !important }`
        document.head.appendChild(style)
      }
    }
  }
}
</script>
