<template>
  <div>
    <v-select
      v-if="fonts && fonts.length"
      :value="value"
      :options="fonts"
      label="label"
      :reduce="option => option.value"
      @input="applyFont"
    />
  </div>
</template>

<script>
export default {
  props: {
    value: {
      type: String,
      default: null
    }
  },
  data() {
    return {
      fonts: []
    }
  },
  mounted() {
    this.fetchFonts()
  },
  methods: {
    fetchFonts() {
      const apiUrl = 'https://www.googleapis.com/webfonts/v1/webfonts?key=AIzaSyB46g1l0J90-Um3iqwcRvaf9V-onHKEE7Q'
      fetch(apiUrl)
        .then(response => response.json())
        .then(data => {
          this.fonts = data.items.map(font => {
            return {
              label: font.family,
              value: font.family
            }
          })
        })
    },
    applyFont(value) {
      this.$emit('input', value)
    }
  }
}
</script>
