<template>
  <b-tabs content-class="mt-3">
    <b-tab title="Configurações gerais" lazy>
      <ValidationObserver v-slot="{ validate, invalid }">
        <b-form @submit.prevent="validate().then(save)">
          <h4 class="mt-4">SITE</h4>
          <b-form-group label="Nome/Título do site*">
            <validation-provider v-slot="{ errors }" name="título do site" rules="required">
              <b-form-input v-model="form.title" name="title" />
              <span class="text-danger">{{ errors[0] }}</span>
            </validation-provider>
          </b-form-group>
          <b-form-group label="Descrição curta do site" description="Um resumo do conteúdo do site com até 160 caracteres.">
            <b-form-textarea v-model="form.description" name="description" />
          </b-form-group>
          <Upload v-model="form.site_logo" label="Logo do site" type="images" />
          <Upload v-model="form.site_favicon" label="Favicon do site" type="images" />
          <Upload v-model="form.site_cover" label="Imagem de capa do site" description="Imagem que vai aparecer quando compartilhar o link nas redes sociais. A maioria das plataformas de redes sociais recomenda uma imagem de capa com dimensões de 1200 pixels de largura por 630 pixels de altura." type="images" />
          <Upload v-model="form.site_banners" label="Banners da home" type="images" description="Envie as imagens na ordem que aparecerão na tela de início. Tamanho recomendado: 1920x1200 pixels" multiple edit-title edit-description edit-link />
          <b-form-group label="Cor principal">
            <SelectColor v-model="form.primary_color" />
          </b-form-group>
          <b-form-group label="Cor secundária">
            <SelectColor v-model="form.secondary_color" />
          </b-form-group>
          <b-form-group label="Fonte principal">
            <SelectFontGoogle v-model="form.font" />
          </b-form-group>
          <h4 class="mt-4">RODAPÉ</h4>
          <hr class="mt-0 mb-4">
          <b-form-group label="Adicionar logo no rodapé">
            <b-form-checkbox v-model="form.site_footer_logo" switch class="d-inline-block" @input="changed" />
            {{ form.site_footer_logo ? "Sim" : "Não" }}
          </b-form-group>
          <b-form-group label="Email de contato">
            <b-form-input v-model="form.email" name="email" />
          </b-form-group>
          <b-form-group label="Outros Contatos">
            <b-form-textarea v-model="form.contact" name="contact" />
          </b-form-group>
          <b-form-group label="Link do Facebook">
            <b-form-input v-model="form.url_facebook" name="url_facebook" />
          </b-form-group>
          <b-form-group label="Link do Twitter">
            <b-form-input v-model="form.url_twitter" name="url_twitter" />
          </b-form-group>
          <b-form-group label="Link do Instagram">
            <b-form-input v-model="form.url_instagram" name="url_instagram" />
          </b-form-group>
          <b-form-group label="Link do Youtube">
            <b-form-input v-model="form.url_youtube" name="url_youtube" />
          </b-form-group>

          <b-button type="submit" variant="success" block :disabled="invalid">
            Salvar
          </b-button>
        </b-form>
      </ValidationObserver>
    </b-tab>
    <b-tab v-if="$auth.user.role === 'super'" title="Funcionalidades">
      <ValidationObserver v-slot="{ validate, invalid }">
        <b-form @submit.prevent="validate().then(save)">
          <b-list-group>
            <b-list-group-item v-for="key in Object.keys(form.features)" :key="key">
              <div class="d-flex justify-content-between align-items-center">
                <strong>{{ features[key].title }}</strong>
                <span>
                  <b-btn v-if="form.features[key].enabled" variant="default" @click="edit(key)"><b-icon-tools /></b-btn>
                  <b-form-checkbox v-model="form.features[key].enabled" switch class="d-inline-block" />
                </span>
              </div>
              <div v-if="editing === key && form.features[key].enabled">
                <hr>
                <b-form-group label="Título da funcionalidade: ">
                  <b-form-input v-model="form.features[key].title" />
                </b-form-group>
                <b-form-group v-if="key === 'shop'" label="CEP de origem" description="Será usado como base para cálculo do frete na loja">
                  <validation-provider v-slot="{ errors }" name="CEP de origem" rules="required|min:9|max:9">
                    <b-form-input v-model="form.features[key].postal_code" v-mask="'#####-###'" />
                    <span class="text-danger">{{ errors[0] }}</span>
                  </validation-provider>
                </b-form-group>
              </div>
            </b-list-group-item>
          </b-list-group>
          <br>
          <b-button type="submit" variant="success" block :disabled="invalid">
            Salvar
          </b-button>
        </b-form>
      </ValidationObserver>
    </b-tab>
    <b-tab v-if="$auth.user.role === 'super'" title="Integrações">
      <ValidationObserver v-slot="{ validate, invalid }">
        <b-form @submit.prevent="validate().then(save)">
          <b-form-group label="ID do Google Analytics" description="Exemplo: G-XXXXXXXXXX">
            <b-form-input v-model="form.gtag" name="gtag" />
          </b-form-group>
          <br>
          <b-button type="submit" variant="success" block :disabled="invalid">
            Salvar
          </b-button>
        </b-form>
      </ValidationObserver>
    </b-tab>
  </b-tabs>
</template>

<script>
import { ValidationObserver, ValidationProvider } from 'vee-validate'

import mixinForm from '@/mixins/form'
import features from '@/data/features.js'

export default {
  components: {
    ValidationObserver,
    ValidationProvider
  },
  mixins: [mixinForm],
  props: {
    settings: {
      type: Object,
      default: null
    }
  },
  data () {
    return {
      features,
      editing: null,
      form: {
        title: '',
        description: '',
        contact: '',
        email: '',
        site_logo: null,
        site_footer_logo: false,
        site_favicon: null,
        site_cover: null,
        site_banners: [],
        url_facebook: '',
        url_twitter: '',
        url_instagram: '',
        url_youtube: '',
        primary_color: '',
        secondary_color: '',
        font: '',
        features: JSON.parse(JSON.stringify(features)),
        gtag: ''
      }
    }
  },
  created () {
    this.toForm(this.form, this.settings)
    this.form.features = JSON.parse(JSON.stringify(features))
    if (this.settings.features) {
      Object.keys(this.form.features).forEach(key => {
        if (this.settings.features[key]) {
          Object.keys(this.settings.features[key]).forEach(setting => {
            this.form.features[key][setting] = this.settings.features[key][setting]
          })
        }
      })
    }
  },
  mounted () {
    if (!this.form.primary_color) {
      this.form.primary_color = document.documentElement.style.getPropertyValue('--primary')
    }
    if (!this.form.secondary_color) {
      this.form.secondary_color = document.documentElement.style.getPropertyValue('--primary')
    }
  },
  methods: {
    edit(item) {
      if (this.editing === item) {
        this.editing = null
      } else {
        this.editing = item
      }
    },
    async save () {
      const settings = await this.$axios.$post('/api/settings', this.form)
      if (settings) {
        this.$store.commit('updateSettings', settings)
        this.$toast.success('As configurações foram salvas!')
        // this.$router.push('/conta')
      }
    }
  },
  changed() {
    this.$emit('input', this.form)
  }
}
</script>
